.heading1{
  background-color: rgb(219, 14, 144);
}

.heading{
  color:green;
  text-align: center;
}

.new{
  color: aquamarine;
}

.new1{
  color: blue;
  text-align: center;
  
}

.new2{
  color: brown;
}